.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.671)), url("https://i.ibb.co/HTfsfgy/sam-moqadam-Zx-RHv6epg-MQ-unsplash.jpg");
    height: 600px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .name, .email{
    display: inline-block;
  }
  .banner-text {
  
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .banner-text h1{
      color:#F7B614;
      font-size: 75px;
      margin-bottom: 30px;
  }
  .banner-text p{
      color: silver !important;
      width: 50%;
      margin-bottom: 30px;
  }

/* responsive */

  @media only screen and (max-width:896px){

    .banner-text{
        left: 45%;
        
    }
    .banner-text h1{
        font-size: 50px;
    }

    .banner-text p{
        color: silver !important;
        width: 90%;
        margin-bottom: 30px;
    }
  }
  