.contact-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.534)), url("https://media.istockphoto.com/photos/high-angle-view-asian-chinese-womans-hand-on-mobile-app-for-online-picture-id1300476665?b=1&k=20&m=1300476665&s=170667a&w=0&h=6yLWL7XmKiiMRheXK4E1cdcPOqp54y3Au-mxdbuodyQ=");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .contact-text {
  
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .contact-text h1{
      color:#F7B614;
      font-size: 75px;
      margin-bottom: 30px;
  }
  .contact-text p{
      color: silver !important;
      width: 50%;
      margin-bottom: 30px;
  }

/* responsive */

  @media only screen and (max-width:896px){

    .contact-text{
        left: 45%;
        
    }
    .contact-text h1{
        font-size: 50px;
    }

    .contact-text p{
        color: silver !important;
        width: 90%;
        margin-bottom: 30px;
    }
  }
  